<?php

$_product = $block->getProduct();
$store_id = $_product->getStoreId() ?? 0;
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$dataHelper = $_objectManager->create('\Kowal\DisplayPercentDiscount\Helper\Data');
$enable = $dataHelper->getWebsiteCfg("enable_view", $store_id);
$label = $dataHelper->getWebsiteCfg("label_value", $store_id);
$kolor_tla_lista =  $dataHelper->getWebsiteCfg("kolor_tla_view", $store_id);
$kolor_czcionki_lista =  $dataHelper->getWebsiteCfg("kolor_czcionki_view", $store_id);

if (!$enable) return;

$simplePrice = 0;
$_savingPercent = 0;
if ($_product->getTypeId() == "simple") {
    $simplePrice = $_product->getPrice();
} else {
    $_children = $_product->getTypeInstance()->getUsedProducts($_product);
    foreach ($_children as $child) {
        $simplePrice = $child->getPrice();
        break;
    }
}

$_finalPrice = $_product->getFinalPrice();
$_price = $simplePrice;
if ($_finalPrice < $_price && $_product->getTypeId() == "simple") {
    $_savingPercent = 100 - round(($_finalPrice / $_price) * 100);
    echo '<div class="kowal-rabat-view"><span class="discount-label" style="background-color: '.$kolor_tla_lista.'; color:'.$kolor_czcionki_lista.';">' . $label . ' ' . $_savingPercent . '%' . '</span></div>';

}


