.kowal-rabat-view span.discount-label{
  padding: 0px 4px;
}
.kowal-rabat-list span.discount-label{
  padding: 0px 4px;
}
.kowal-rabat-list{
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  width: 50px;
  height: 50px;
  .discount-label{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
  }
}
